/metaProgramming/output/d3d11Exports.cpp.txt
/metaProgramming/output/exports.def
/metaProgramming/x64/Debug/DLLExportWriter.obj
/metaProgramming/x64/Debug/mLibSource.obj
/metaProgramming/x64/Debug/main.obj
/metaProgramming/x64/Debug/metaProgramming.exe
/metaProgramming/x64/Debug/metaProgramming.ilk
/metaProgramming/x64/Debug/metaProgramming.log
/metaProgramming/x64/Debug/metaProgramming.pdb
/metaProgramming/x64/Debug/metaProgramming.tlog/CL.read.1.tlog
/metaProgramming/x64/Debug/metaProgramming.tlog/CL.write.1.tlog
/metaProgramming/x64/Debug/metaProgramming.tlog/cl.command.1.tlog
/metaProgramming/x64/Debug/metaProgramming.tlog/link.command.1.tlog
/metaProgramming/x64/Debug/metaProgramming.tlog/link.read.1.tlog
/metaProgramming/x64/Debug/metaProgramming.tlog/link.write.1.tlog
/metaProgramming/x64/Debug/metaProgramming.tlog/metaProgramming.lastbuildstate
/metaProgramming/x64/Debug/vc120.idb
/metaProgramming/x64/Debug/vc120.pdb
/bin/Debug/d3d11.dll
/bin/Debug/d3d11.exp
/bin/Debug/d3d11.ilk
/bin/Debug/d3d11.lib
/bin/Debug/d3d11.pdb
/bin/Debug/frameworkD3D11.exe
/bin/Debug/frameworkD3D11.ilk
/bin/Debug/frameworkD3D11.pdb
/frameworkD3D11/bin/frameworkD3D11.exe
/frameworkD3D11/bin/frameworkD3D11.ilk
/frameworkD3D11/bin/frameworkD3D11.pdb
/frameworkD3D11/frameworkD3D11.opensdf
/frameworkD3D11/frameworkD3D11.sdf
/frameworkD3D11/frameworkD3D11.v12.suo
/frameworkD3D11/shaderCache/defaultBasic.shader.pixelShaderMain.p
/frameworkD3D11/shaderCache/defaultBasic.shader.vertexShaderMain.p
/frameworkD3D11/shaderCache/defaultBasicTexture.shader.pixelShaderMain.p
/frameworkD3D11/shaderCache/defaultBasicTexture.shader.vertexShaderMain.p
/frameworkD3D11/shaderCache/test.shader.pixelShaderMain.p
/frameworkD3D11/shaderCache/test.shader.vertexShaderMain.p
/frameworkD3D11/x64/Debug/frameworkD3D11.log
/frameworkD3D11/x64/Debug/frameworkD3D11.tlog/CL.read.1.tlog
/frameworkD3D11/x64/Debug/frameworkD3D11.tlog/CL.write.1.tlog
/frameworkD3D11/x64/Debug/frameworkD3D11.tlog/cl.command.1.tlog
/frameworkD3D11/x64/Debug/frameworkD3D11.tlog/frameworkD3D11.lastbuildstate
/frameworkD3D11/x64/Debug/frameworkD3D11.tlog/link.command.1.tlog
/frameworkD3D11/x64/Debug/frameworkD3D11.tlog/link.read.1.tlog
/frameworkD3D11/x64/Debug/frameworkD3D11.tlog/link.write.1.tlog
/frameworkD3D11/x64/Debug/mLibSource.obj
/frameworkD3D11/x64/Debug/vc120.idb
/frameworkD3D11/x64/Debug/vc120.pdb
/frameworkD3D11/x64/Debug/vizzer.obj
/frameworkD3D11/x64/Debug/winMain.obj
/interceptor/Debug/d3d11.dll
/interceptor/Debug/d3d11.ilk
/interceptor/Debug/d3d11.pdb
/interceptor/Debug/d3d11Exports.obj
/interceptor/Debug/interceptor.log
/interceptor/Debug/interceptor.tlog/CL.read.1.tlog
/interceptor/Debug/interceptor.tlog/CL.write.1.tlog
/interceptor/Debug/interceptor.tlog/cl.command.1.tlog
/interceptor/Debug/interceptor.tlog/interceptor.lastbuildstate
/interceptor/Debug/interceptor.tlog/interceptor.write.1u.tlog
/interceptor/Debug/interceptor.tlog/link.command.1.tlog
/interceptor/Debug/interceptor.tlog/link.read.1.tlog
/interceptor/Debug/interceptor.tlog/link.write.1.tlog
/interceptor/Debug/main.obj
/interceptor/Debug/vc120.idb
/interceptor/Debug/vc120.pdb
/interceptor/interceptor.opensdf
/interceptor/interceptor.sdf
/interceptor/interceptor.v12.suo
/metaProgramming/metaProgramming.opensdf
/metaProgramming/metaProgramming.sdf
/metaProgramming/metaProgramming.v12.suo
/bin/Debug/d3d11InterceptorLog.txt
/bin/Debug/shaderCache/defaultBasic.shader.pixelShaderMain.p
/bin/Debug/shaderCache/defaultBasic.shader.vertexShaderMain.p
/bin/Debug/shaderCache/defaultBasicTexture.shader.pixelShaderMain.p
/bin/Debug/shaderCache/defaultBasicTexture.shader.vertexShaderMain.p
/bin/Debug/shaderCache/test.shader.pixelShaderMain.p
/bin/Debug/shaderCache/test.shader.vertexShaderMain.p
/frameworkD3D11/x64/Release/d3d11.dll
/frameworkD3D11/x64/Release/d3d11.exp
/frameworkD3D11/x64/Release/d3d11.lib
/frameworkD3D11/x64/Release/d3d11.pdb
/interceptor/Debug/DLLMain.obj
/interceptor/Debug/d3d11.Build.CppClean.log
/tools/d3d11BackupSysWOW64.dll
/tools/d3d11BackupSystem32.dll
/tools/dllexp.cfg
/interceptor/x64/Debug/DLLMain.obj
/interceptor/x64/Debug/d3d11Exports.obj
/interceptor/x64/Debug/interceptor.log
/interceptor/x64/Debug/interceptor.tlog/CL.read.1.tlog
/interceptor/x64/Debug/interceptor.tlog/CL.write.1.tlog
/interceptor/x64/Debug/interceptor.tlog/cl.command.1.tlog
/interceptor/x64/Debug/interceptor.tlog/interceptor.lastbuildstate
/interceptor/x64/Debug/interceptor.tlog/interceptor.write.1u.tlog
/interceptor/x64/Debug/interceptor.tlog/link.command.1.tlog
/interceptor/x64/Debug/interceptor.tlog/link.read.1.tlog
/interceptor/x64/Debug/interceptor.tlog/link.write.1.tlog
/interceptor/x64/Debug/main.obj
/interceptor/x64/Debug/vc120.idb
/interceptor/x64/Debug/vc120.pdb
/frameworkD3D11/x64/Debug/frameworkD3D11.Build.CppClean.log
/interceptor/x64/Debug/d3d11.Build.CppClean.log
/interceptor/x64/Debug/d3d11Device.obj
/metaProgramming/x64/Debug/D3D11InterfaceWriter.obj
/interceptor/x64/Debug/d3d11DeviceContext.obj
/bin/Debug/d3d11LogDraw.txt
/bin/Debug/d3d11LogInterface.txt
/bin/Debug/d3d11Logs
/interceptor/x64
/Dolphin-x64
/bin/Debug/*.dll
/bin/Debug/*.exp
/bin/Debug/*.ilk
/bin/Debug/*.lib
/bin/Debug/*.pdb
/frameworkD3D11/ipch/interceptor-36ec9359/*.ipch
/frameworkD3D11/ipch/interceptordebuglayer-7171c2dd/*.ipch
/metaProgramming/x64/Debug/metaProgramming.tlog/unsuccessfulbuild
/bin/Release/d3d11.dll
/bin/Release/d3d11.exp
/bin/Release/d3d11.lib
/bin/Release/d3d11.pdb
/bin/Release/d3d11DebugLayer.dll
/bin/Release/d3d11DebugLayer.exp
/bin/Release/d3d11DebugLayer.lib
/bin/Release/d3d11DebugLayer.pdb
/bin/Release/frameworkD3D11.exe
/bin/Release/frameworkD3D11.pdb
/frameworkD3D11/x64/Release/frameworkD3D11.Build.CppClean.log
/frameworkD3D11/x64/Release/frameworkD3D11.log
/frameworkD3D11/x64/Release/frameworkD3D11.tlog/CL.read.1.tlog
/frameworkD3D11/x64/Release/frameworkD3D11.tlog/CL.write.1.tlog
/frameworkD3D11/x64/Release/frameworkD3D11.tlog/cl.command.1.tlog
/frameworkD3D11/x64/Release/frameworkD3D11.tlog/frameworkD3D11.lastbuildstate
/frameworkD3D11/x64/Release/frameworkD3D11.tlog/link.command.1.tlog
/frameworkD3D11/x64/Release/frameworkD3D11.tlog/link.read.1.tlog
/frameworkD3D11/x64/Release/frameworkD3D11.tlog/link.write.1.tlog
/frameworkD3D11/x64/Release/mLibSource.obj
/frameworkD3D11/x64/Release/vc120.pdb
/frameworkD3D11/x64/Release/vizzer.obj
/frameworkD3D11/x64/Release/winMain.obj
/frameworkD3D11/x64/Debug/gameAI.dll
/frameworkD3D11/x64/Debug/gameAI.lib
/gameAICore/Release/gameAICore.log
/gameAICore/Release/gameAICore.tlog/cl.command.1.tlog
/gameAICore/Release/gameAICore.tlog/gameAICore.lastbuildstate
/gameAICore/Release/gameAICore.tlog/unsuccessfulbuild
/gameAICore/Release/*.pdb
/gameAICore/x64/Debug/*.log
/gameAICore/x64/Debug/*.obj
/gameAICore/x64/Debug/gameAICore.tlog/*.tlog
/gameAICore/x64/Debug/gameAICore.tlog/*.lastbuildstate
/gameAICore/x64/Debug/*.idb
/gameAICore/x64/Debug/*.pdb
/bin/Release/gameAI.dll
/bin/Release/gameAI.exp
/bin/Release/gameAI.lib
/bin/Release/gameAI.pdb
/gameAICore/x64/Release/gameAI.obj
/gameAICore/x64/Release/gameAICore.log
/gameAICore/x64/Release/gameAICore.tlog/CL.read.1.tlog
/gameAICore/x64/Release/gameAICore.tlog/CL.write.1.tlog
/gameAICore/x64/Release/gameAICore.tlog/cl.command.1.tlog
/gameAICore/x64/Release/gameAICore.tlog/gameAICore.lastbuildstate
/gameAICore/x64/Release/gameAICore.tlog/gameAICore.write.1u.tlog
/gameAICore/x64/Release/gameAICore.tlog/link.command.1.tlog
/gameAICore/x64/Release/gameAICore.tlog/link.read.1.tlog
/gameAICore/x64/Release/gameAICore.tlog/link.write.1.tlog
/gameAICore/x64/Release/main.obj
/gameAICore/x64/Release/vc120.pdb
/gameAICore/x64/Release/gameAI.Build.CppClean.log
/GameLearning/gameLearning.opensdf
/GameLearning/gameLearning.sdf
/GameLearning/bin
/GameLearning/shaderCache
/GameLearningUI/obj
/bin/UIWindowAssetViewer.exe
/bin/UIWindowAssetViewer.exe.config
/bin/UIWindowAssetViewer.pdb
/GameLearning/ipch
/GameLearning/x64
/frameworkD3D11/x64/Release/frameworkD3D11.tlog/unsuccessfulbuild
/GameLearning/clusters.txt
/GameLearning/alignment.txt
/GameLearning/objA.txt
/GameLearning/objB.txt
/GameLearning/segments.txt
/binLearning/Debug/gameLearning.exe
/binLearning/Debug/gameLearning.ilk
/binLearning/Debug/gameLearning.pdb
/binLearning/Debug/gameLearningUI.exe
/binLearning/Debug/gameLearningUI.exe.config
/binLearning/Debug/gameLearningUI.pdb
/binLearning/Release/gameLearning.exe
/binLearning/Release/gameLearning.pdb
/binLearning/Release/gameLearningUI.exe
/binLearning/Release/gameLearningUI.exe.config
/binLearning/Release/gameLearningUI.pdb
/GameLearning/transitionFrom.txt
/GameLearning/transitionTo.txt
/datasets
/GameLearning/logs/transitionFrom.txt
/GameLearning/logs/transitionTo.txt
/GameLearning/gameLearning.v12.suo
